.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item a:hover {
    color: red;
    cursor: pointer;
}

body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-body {
    background: #a8b6b2;
}

#welcome-message {
    color: white;
}

li {
    color: white;
}